#add-form-container{
  width : 100%;
  margin-top: 2%;
  height : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-form {
  display: flex;
  flex-direction: column;
  width : 30%;
  justify-content: space-between;
  height: 80%;
  box-sizing: border-box;
}

.important{
  z-index: 100;
}